.wrapper {
  /*
    This class will usually be used when we have escaped the site
    padding on .main-content and need to use it for new sections
    inside of it.
  */
  @include site-padding;
}

.content {
  /*
    Used to horizontally center content within a wrapper taking
    our site's max width into account.
  */
  // margin: (null auto);
  max-width: $width-max;
}

.expand {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hide-text {
  @include hide-text();
}

.mobile-only {
  @media #{$desktop-only} {
    display: none !important;
  }
}

.desktop-only {
  @media #{$mobile-only} {
    display: none !important;
  }
}

.text-center {
  display: block;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.tracking-pixel {
  position: absolute;
}

.cloak {
  display: none !important;
}
