@import "variables";
@import "normalize";
@import "mixins";
@import "typography";
// @import "utility";
// @import "animation";
@import "base";

$font-stack: Arial, sans-serif;
$primary-color: #333;
$testing: 2rem;

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
li {
  border: 2px solid $color-product-warm;
  font-family: $font-stack;
  color: $color-blue-grass;
}
