@import "variables";
@import "mixins";
@import "normalize";
@import "typography";
@import "utility";
// @import "animation";
@import "base";
// @import "./layout/index";
// @import "./pages/index";
//@import "application";
@import "footer";
// @import "animation";
@import "base";
$font-stack: Arial,
sans-serif;
$primary-color: #333;
$testing: 3rem;
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

li {
  border: 2px solid $color-product-warm;
  font-family: $font-stack;
  color: $color-blue-grass;
}
