<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/homepage">
          <span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

      <li>
        <a href="/category">
          <span class="glyphicon"></span> Category Page </a>
      </li>
      <li>
        <a href="/product">
          <span class="glyphicon"></span> Product Page </a>
      </li>
            <li>
              <a href="/custom">
                <span class="glyphicon"></span> Custom Page </a>
            </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/cart">
          <span class="glyphicon glyphicon glyphicon-shopping-cart"></span> Cart </a>
      </li>
    </ul>
  </div>
</nav>