<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
    <h1>Custom Page</h1>
    <button id='click-btn'>Click Here to Add Div</button>

    <div id="main">
    </div>
</body>

</html>